* {
    margin: 0;
    padding: 0;
}

.container {
    border: 5px solid #000;
    width: 825px;
    margin: 50px auto;
}

.product-price {
    font-weight: bold;
}

.product-shipping {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.more-information a {
    color: #000;
}

.more-information a:hover {
    text-decoration: none;
}

.product-name {
    text-transform: uppercase;
    text-align: center;
    background-color: #f7f7f7;
    padding: 15px;
}

.product-details {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 30px;
}

.unordered-list {
    margin-left: 20px;
}

.unordered-list li {
    margin-bottom: 10px;
}

.button {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    border: none;
    width: 100%;
    padding: 15px;
}

.button:hover {
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    border-top: 4px solid black;
}